$color-primary: #2e3b85;
$color-secondary: #94d7a2;
$color-warning: #f8bcbc;
$color-info: #4d5b9e;
$color-white: #f5f7fb;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Karla', sans-serif;
  height: 100vh;
  background: #f5f7fb;
  background-image: url('./img/left-bottom.png'), url('./img/right-top.png');
  background-repeat: no-repeat, no-repeat;
  background-position: left bottom, right top;
  color: $color-primary;
}

.btn {
  border-radius: 15px;
  cursor: pointer;
  background: transparent;
  font-family: Inter;
  border: none;
  transition: all 0.2s;

  &-large {
    width: 193px;
    height: 52px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  }
  &-info {
    background: $color-info;
    color: $color-white;

    &:hover {
      opacity: 0.9;
    }
    &:active {
      transform: scale(0.98);
    }
  }
}

.starter-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  h1 {
    font-size: 31.25px;
    line-height: 37px;
  }
  p {
    margin-top: 10px;
    margin-bottom: 29px;
  }
}
