$color-primary: #2e3b85;
$color-secondary: #94d7a2;
$color-warning: #f8bcbc;
$color-info: #4d5b9e;
$color-white: #f5f7fb;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Karla', sans-serif;
  min-height: 100vh;
  background: #f5f7fb;
  background-image: url('./img/left-bottom.png'), url('./img/right-top.png');
  background-repeat: no-repeat, no-repeat;
  background-position: left bottom, right top;
  color: $color-primary;
}

.btn {
  border-radius: 15px;
  cursor: pointer;
  background: transparent;
  font-family: Inter;
  border: none;
  transition: all 0.2s;
  width: 120px;
  height: 35px;
  font-size: 10.24px;
  line-height: 12px;

  &-large {
    width: 193px;
    height: 52px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  }
  &-info {
    background: $color-info;
    color: $color-white;

    &:hover {
      opacity: 0.9;
    }
    &:active {
      transform: scale(0.98);
    }
  }
}

.starter-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  h1 {
    font-size: 31.25px;
    line-height: 37px;
  }
  p {
    margin-top: 10px;
    margin-bottom: 29px;
  }
}

.quiz-container {
  padding: 20px;
  max-width: 400px;
  margin-inline: auto;
}
.question {
  border-bottom: 1px solid #dbdef0;
  padding-block: 15px;
  p {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #293264;
  }
}

.btn-container {
  margin-top: 12px;
}
.btn-answer {
  height: 20px;
  min-width: 65px;
  border: 1px solid $color-info;
  border-radius: 7.94239px;
  margin: 8px 12px 0 0;
  background: transparent;

  font-family: Inter;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  color: #293264;
  padding-inline: 8px;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    transform: scale(1.03);
    background: #d6dbf5;
  }
  &:active {
    transform: scale(1);
  }

  &.correct {
    background: #f8bcbc;
  }
  &.selected {
    background: #94d7a2 !important;
  }
}

footer {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-bottom: 20px;

  p {
    font-family: Inter;
    font-weight: bold;
    font-size: 12.8px;
    line-height: 15px;
    color: #293264;
  }
}
